<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Michael Barrows</title>
  <meta name="description" content="Resume Website for Michael Barrows">
  <meta name="author" content="Michael Barrows">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <!-- <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU"
    crossorigin="anonymous">-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300|Lato:400i|Exo:200i|Julius+Sans+One|Raleway:300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8c781f34f9.js"></script>
  <!-- development version of vue, includes helpful console warnings 
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
  <!-- production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-resize-text"></script>
</head>


<body>
  <div id="app">
    <div id="image-canvas" ref="imagecanvas" v-bind:width="width" v-bind:height="height" style="z-index: -1;">
      <div v-show="viewMode == 'Desktop' | viewMode == 'Tablet'" id="sidebar" class="col-md-3">
        <center>
          <img id="headshot" src="./images/Headshot.png" width="100vh" height="100vh">
          <div v-resize-text="{minFontSize: '20vw', maxFontSize: '50vw'}">{{ basic.firstName }} {{ basic.lastName }}</div>
          <div v-resize-text="{ratio: 1.5, minFontSize: '15vw', maxFontSize: '30vw'}"><em> {{basic.title}} </em></div>
          <div style="margin-top: 2em">
            <span v-for = "website in socials" style="font-size: 1.5em; color: #337ab7"> <i :class="website.icon"> </i> <a target="_blank" v-bind:href="website.link">{{website.name}} </a> </span>
          </div>
        </center>
      </div>

      <!-- DESKTOP Layout -->
      <div v-show="viewMode == 'Desktop'" id="main_desktop" class = "col-md-9">
        <div class= "row" style = "padding-top: 20px;">
          <div class = "col-md-2"></div>
          <div class = "card col-md-9">
              <div v-resize-text="{minFontSize: '40px', maxFontSize: '70px'}"> {{salutation}} </div> 
            <p style = "font-size: 20px"> {{abstract}}
            </p>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class= "row" style = "padding-top: 20px;">
            <div class = "col-md-2"></div>
            <div class = "card col-md-9">
              <h2 class = "sectionHeader">EDUCATION</h2>
              <table v-for = "diploma in cards.Education">
                  <tr>
                      <th colspan="2" class = "subTableHeader"><a :href="diploma.link" target="_blank"><strong></strong>{{diploma.degree}}</strong><sup><i class="fas fa-external-link-alt"></i></sup></a></th>
                  </tr>
                  <tr class = "subTableHeader">
                    <td><em>{{diploma.year}}</em></td>
                    <td><em>{{diploma.school}}</em></td>
                  </tr>
                  <tr>
                    <td colspan="2">{{diploma.description}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <ul>
                        <li v-for="course in diploma.courses">{{course}}</li>
                      </ul>
                    </td>
                  </tr>

                </table>
            </div>
            <div class = "col-md-1"></div> 
        </div>
        <div class = "row" style = "padding-top: 20px;"> 
          <div class = "col-md-2"></div>
          <div class = "card col-md-9">
              <h2 class = "sectionHeader">EXPERIENCE</h2>
              <table v-for = "job in cards.WorkHistory">
                  <tr>
                    <th colspan="2">{{job.title}}</th>
                  </tr>
                  <tr class="subTableHeader">
                      <td style="width: 10em" v-if="job.current == 'yes'"><em>{{job.start}} - Current</em></td>
                      <td style="width: 10em" v-else><em>{{job.start}} - {{job.end}}</em></td>
                      <td><em><a :href="job.company.link" target="_blank">{{job.company.name}}<sup><i class="fas fa-external-link-alt"></i></sup></a></em></td>
                  </tr>
                  <tr>
                      <td class = "paddingBtwSections" colspan="2">
                          {{job.description}} <a target="_blank" :href="job.moreinfo" v-if="job.moreinfo != ''">link</a>
                        </td>
                  </tr>
                  </table>  
          </div> 
          <div class = "col-md-1"></div>
        </div>
      </div>
        
      <!-- MOBILE Layout -->
      <div v-show="viewMode == 'Mobile'" >
          <div id="mobilenavbar" :style="navbarheight">
              <span @click="ExtendNavbar" id="hamburger"><i class="fas fa-bars"></i></span>
              <span id = "mobilenavbarheader">Michael Barrows</span>
              <ul v-show="navbarextended">
                <li v-for = "website in socials" class = "mobilenavbarlinks"> <a target="_blank" v-bind:href="website.link"><i :class="website.icon"> </i> {{website.name}} </a> </span>
              </ul>
          </div>

          <div class = "col-md-12" :style="mobilebodymargin">
            <div class= "row" style = "padding-top: 20px;">
              <div class = "col-md-2"></div>
              <div class = "card col-md-9">
                  <div v-resize-text="{minFontSize: '40px', maxFontSize: '70px'}"> {{salutation}} </div> 
                <p style = "font-size: 20px"> {{abstract}}
                </p>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class= "row" style = "padding-top: 20px;">
               
                <div class = "card col-sm-12">
                  <h2 class = "sectionHeader">EDUCATION</h2>
                  <table v-for = "diploma in cards.Education">
                    <tr>
                        <th colspan="2" class = "subTableHeader"><a :href="diploma.link" target="_blank"><strong></strong>{{diploma.degree}}</strong><sup><i class="fas fa-external-link-alt"></i></sup></a></th>
                    </tr>
                    <tr class = "subTableHeader">
                      <td><em>{{diploma.year}}</em></td>
                      <td><em>{{diploma.school}}</em></td>
                    </tr>
                    <tr>
                      <td colspan="2">{{diploma.description}}</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <ul>
                          <li v-for="course in diploma.courses">{{course}}</li>
                        </ul>
                      </td>
                    </tr>

                  </table>
                </div>
            </div>
            <div class = "row" style = "padding-top: 20px;"> 
              <div class = "col-md-2"></div>
              <div class = "card col-md-9">
                  <h2 class = "sectionHeader">EXPERIENCE</h2>
                <table v-for = "job in cards.WorkHistory">
                  <tr>
                    <th colspan="2">{{job.title}}</th>
                  </tr>
                  <tr class="subTableHeader">
                      <td style="width: 10em" v-if="job.current == 'yes'"><em>{{job.start}} - Current</em></td>
                      <td style="width: 10em" v-else><em>{{job.start}} - {{job.end}}</em></td>
                      <td><em><a :href="job.company.link" target="_blank">{{job.company.name}}<sup><i class="fas fa-external-link-alt"></i></sup></a></em></td>
                  </tr>
                  <tr>
                      <td class = "paddingBtwSections" colspan="2">
                          {{job.description}} <a target="_blank" :href="job.moreinfo" v-if="job.moreinfo != ''">link</a>
                        </td>
                  </tr>
                  </table>
              </div> 
              <div class = "col-md-1"></div>
            </div>
          </div>
        </div> 
    </div>
  </div>


  <script src="index.js"></script>
</body>

</html>