<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Michael Barrows</title>
    <meta name="description" content="Resume Website for Michael Barrows">
    <meta name="author" content="Michael Barrows">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU"
    crossorigin="anonymous">-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300|Lato:400i|Exo:200i|Julius+Sans+One|Raleway:300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8c781f34f9.js"></script>
    <!-- development version of vue, includes helpful console warnings 
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-resize-text"></script>
</head>


<body>
    <div id="app">
        <div id="image-canvas" ref="imagecanvas" v-bind:width="width" v-bind:height="height" style="z-index: -1;">
            <!-- DESKTOP Sidebar -->
            <div :id="[desktopMode ? 'desktopLayout' : 'mobileLayout']">
                <div v-show="desktopMode" id="sidebar">
                    <center>
                        <img id="headshot" src="./images/Headshot.png" width="100vh" height="100vh">
                        <div v-resize-text="{minFontSize: '20vw', maxFontSize: '50vw'}">{{ basic.firstName }} {{ basic.lastName }}
                        </div>
                        <div v-resize-text="{ratio: 1.5, minFontSize: '15vw', maxFontSize: '30vw'}"><em> {{basic.title}} </em></div>
                        <div style="margin-top: 2em">
                            <span v-for="website in socials" style="font-size: 1.5em; color: #337ab7"> <i :class="website.icon"> </i>
                <a target="_blank" v-bind:href="website.link">{{website.name}} </a> </span>
                        </div>
                    </center>
                </div>
                <!-- MOBILE Navbar -->
                <div v-show="mobileMode | tabletMode" id="mobilenavbar" :style="navbarheight">
                    <span @click="ExtendNavbar" id="hamburger"><i class="fas fa-bars"></i></span>
                    <span id="mobilenavbarheader">Michael Barrows</span>
                    <ul v-show="navbarextended">
                        <li v-for="website in socials" class="mobilenavbarlinks"> <a target="_blank" v-bind:href="website.link"><i
                  :class="website.icon"> </i> {{website.name}} </a> </span>
                    </ul>
                </div>
                <!-- MAIN CONTENT -->
                <div id="mainContent">
                    <div style="margin-top: 3em;">
                        <div class="card">
                            <div v-resize-text="{minFontSize: '40px', maxFontSize: '70px'}"> {{salutation}} </span>
                            </div>
                            <p style="font-size: 18px"> {{abstract}}
                            </p>
                        </div>
                    </div>
                    <div style="padding-top: 20px;">
                        <div class="card">
                            <h2 class="sectionHeader">PROJECTS</h2>
                            <div class="projectGrid">
                                <div v-for="project in cards.Projects" v-if="project.show" style="padding-bottom: 10px;">
                                    <a :href="project.github" target="_blank"><img :src="project.image" width="100%"></a>
                                    <h3>{{project.name}}</h3>
                                    <p>{{project.description}}</p>
                                    <p>
                                        <a v-if="project.github != '#'" :href="project.github" target="_blank"><i class="fas fa-code"></i>
                      Source</a>
                                        <a v-if="project.demo != '#'" :href="project.demo" target="_blank"><i class="fas fa-play"></i>
                      Demo</a>
                                        <i @click="project.showTags = true" v-show="project.showTags == false" class="fas fa-plus"></i>
                                        <i @click="project.showTags = false" v-show="project.showTags == true" class="fas fa-minus"></i> Tags
                                    </p>
                                    <ul v-if="project.showTags == true" style="list-style:none;">
                                        <li v-for="tag in project.tags">{{tag}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 20px;">
                        <div class="card">
                            <h2 class="sectionHeader">EDUCATION</h2>
                            <div v-for="diploma in cards.Education" class="oneTwoOneGrid">
                                <p class="title">
                                    <a :href="diploma.link" target="_blank"><strong></strong>{{diploma.degree}}</strong>&#32;<sup><i
                        class="fas fa-external-link-alt"></i></sup></a>
                                </p>
                                <p class="date"><em>{{diploma.year}}</em></p>
                                <p class="location"><em>{{diploma.school}}</em></p>
                                <div class="description">
                                    <p>{{diploma.description}}</p>
                                    <ul>
                                        <li v-for="course in diploma.courses">{{course}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 20px;">
                        <div class="card">
                            <h2 class="sectionHeader">EXPERIENCE</h2>
                            <div v-for="job in cards.WorkHistory" class="oneTwoOneGrid">
                                <p class="title">{{job.title}}</p>
                                <p class="date" style="width: 10em" v-if="job.current == 'yes'"><em>{{job.start}} - Current</em></p>
                                <p class="date" style="width: 10em" v-else><em>{{job.start}} - {{job.end}}</em></p>
                                <p class="location"><em><a :href="job.company.link" target="_blank">{{job.company.name}}&#32;<sup><i
                          class="fas fa-external-link-alt"></i></sup></a></em></p>
                                <p class="description" class="paddingBtwSections" colspan="2">
                                    {{job.description}} <a target="_blank" :href="job.moreinfo" v-if="job.moreinfo != ''">link</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="index.js"></script>
</body>

</html>