body,
html {
    height: 100%;
}

p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #667079;
}

h2,
h3 {
    font-family: 'Lato', sans-serif;
    color: #667079;
}


/* td {
    font-size: 18px;
    padding: 0 10px;
    font-family: 'Raleway', sans-serif;
} */

a {
    color: #667079
}

a:hover {
    color: #343a3f
}

.fa-external-link-alt {
    font-size: 1rem;
}

.card {
    border-bottom: 0.3em;
    border-style: outset;
    border-color: rgba(192, 192, 192, 0);
}

.sectionHeader {
    color: #337ab7
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    column-gap: 20px;
}

.projectGrid img {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

.oneTwoOneGrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr auto;
    margin-bottom: 20px;
}

.title {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    color: #667079
}

.date {
    grid-column: 1/2;
    grid-row: 2/3;
}

.location {
    grid-column: 2/4;
    grid-row: 2/3;
}

.date,
.location {
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    color: #667079;
}

.description {
    grid-column: 1/4;
    grid-row: 3/4;
    font-family: 'Raleway', sans-serif;
    color: #667079;
}

#desktopLayout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "Sidebar Content";
}

#mobileLayout {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 3em auto;
    grid-template-areas: "Navbar", "Content";
}

#mainContent {
    margin: auto 8%;
}

#salutation {
    font-family: 'Popins', sans-serif;
    color: #343a3f;
}

#sidebar {
    background-color: rgb(255, 167, 134);
    grid-area: "Sidebar";
}

#sidebar a {
    color: #337ab7
}

#sidebar a:hover {
    color: #21517a
}

#sidebar button {
    width: 80%;
    height: 6vh;
    align-self: center;
    margin-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: antiquewhite;
}

#sidebarName,
#sidebarTitle {
    font-family: 'Raleway', sans-serif;
}

#headshot {
    margin-top: 2vh;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

#mobilenavbar {
    background-color: rgb(255, 167, 134);
    grid-area: "Navbar";
    width: 100vw;
    position: fixed;
    z-index: 20;
}

#mobilenavbar a {
    color: white;
    text-align: center;
}

#mobilenavbar a:hover {
    color: #337ab7
}

#hamburger {
    text-align: right;
    margin-right: 5vw;
    font-size: 3vh;
    color: #337ab7;
    display: inline-block;
    width: 8%;
}

#mobilenavbarheader {
    text-align: center;
    font-size: 2em;
    display: inline-block;
    width: 70%;
    color: #337ab7;
}

.mobilenavbarlinks {
    font-size: 1.5em;
    color: white;
    list-style: none;
    display: inline-block;
    width: 85%;
    text-align: center
}