body, html {
    height: 100%;
}
p{
  font-size: 16px;
}
.card{
  border-bottom: 0.3em;
  border-style: outset;
  border-color: silver;
}
#sidebar{
  background-color: coral;
  height: 100vh;
}
#sidebar button{
  width: 80%;
  height: 6vh;
  align-self: center;
  margin-top: 2vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: antiquewhite;
}
#headshot{
  margin-top: 2vh;
  border-radius: 50%;
}